<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Tela de login</title>
</head>
<body>
    <div>
        <h1>Cadastro</h1>
        <input type="text" placeholder="Nome">
        <br><br>
        <input type="text" placeholder="E-mail">
        <br><br>
        <input type="number" placeholder="CPF">
        <br><br>
        <input type="password" placeholder="Senha">
        <br><br>
        <input type="password" placeholder="Confirmar senha">
        <br><br>
        <button>Enviar</button>
        <br><br>
        <span><a href="">Login</a> caso possua uma conta</span>
    </div>

</body>
</html>