<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Link CSS -->
    <link rel="stylesheet" type="text/css" href="index.css" media="screen"/>

    <!-- Link Favicon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--Link das Imagens.css-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--Google-Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Poppins:wght@600&family=Space+Mono&display=swap" rel="stylesheet">

    <!-- Link do favcon -->
    <link rel="shortcut icon" href="./LOGO/logo-favicon.png" type="image/x-icon">

    <title>Charlie</title>
</head>
    <body>

        <!-- Barra de navegação -->
        <header>
            <!-- Possibilidade de colocar um favcon aqui -->
            <a href="/" class="logo">
                <!-- Favcon -->
                <!-- <i class="ri-home-heart-fill"></i> -->
                <!-- Tex0to -->
                <span>Charlie</span>
            </a> 

            <!--Lista para classificar itens contidos dentro do menu-->
            <!--Pode ser editavel-->
            <ul class="navbar">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">Mais vendidos</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Promoções</a></li>
            </ul>

            <div class="main">

                <!-- Arrumar botão transparente de pesquisa -->
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search"  aria-label="Search">
                    <button class="btn btn-outline-danger" type="submit"><i class="ri-search-line"></i></button>
                  </form>

                <a href="../LOGIN/index.html" class="user"><i class="ri-user-fill"></i>Fazer Login</a>

                <a href="../CADASTRO/index.html" class="bxmenu">Criar conta</a>
                <div class="bx bx-menu" id="menu-icon"></div> 
            </div>
        </header>
        <!-- FIM NAVBAR -->

          <!--Carrossel-->
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-block center-content">
                            <img src="./BANNER/banner04.png" alt="..." height="500" >
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-block center-content">
                            <img src="./BANNER/banner2.png" alt="..." height="500" >
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <!-- <h5 style="color: rgb(27, 5, 229);">Camisetas esportivas.</h5>
                            <p style="color: rgb(5, 37, 245), 0, 0);">Camisetas esportivas.</p> -->
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-block center-content">
                            <img src="./BANNER/banner3.png" alt="..." height="500">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <!-- <h5 style="color: black;">Camisetas de corrida.</h5>
                            <p style="color: black;">Camisetas de corrida.</p> -->
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
          </div>

          <!--Card-->
          <section class="produtos">
            <span class="title-secundary">Produtos em Destaque</span>
            <hr>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img src="./IMG/produto01.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Camiseta Esportiva</h5>
                            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae ea sed nesciunt officiis, ut similique natus pariatur dolore iste id harum voluptas doloribus. Totam inventore.</p>
                            <button type="submit" id="botaocard">Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./IMG/produto04.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Bicicleta Vermelha</h5>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo inventore quibusdam enim ex quisquam, deleniti alias nihil harum. Asperiores harum modi cumque vel corporis vero quidem nihil laudantium fugiat soluta.</p>
                            <button type="submit" id="botaoxp">Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./IMG/produto03.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Bermuda Tactel</h5>
                            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate alias ab voluptatem et distinctio soluta voluptatum animi, sunt laborum iusto repellat veniam accusamus dignissimos sed! Eveniet repellendus vitae sequi molestiae?</p>
                            <button type="submit">Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./IMG/produto01.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Camiseta Esportiva</h5>
                            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae ea sed nesciunt officiis, ut similique natus pariatur dolore iste id harum voluptas doloribus. Totam inventore, aut modi reiciendisLorem ipsum, dolor sit amet.</p>
                            <button type="submit">Comprar</button>
                        </div>
                    </div>
                </div>
                
                <div class="col">
                    <div class="card">
                        <img src="./IMG/produto04.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Bicicleta Azul</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima architecto sequi iste debitis nam dolores dolorem. Molestiae, quasi? Dignissimos, veritatis qui? Voluptate incidunt repellendus praesentium alias quo neque repellat quia.</p>
                            <button type="submit">Comprar</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="./IMG/produto03.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Bermuda Tactel</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quis quam. Amet perferendis accusantium dignissimos itaque, libero, provident quo corrupti tempore praesentium sapiente nesciunt quibusdam, dolorem at non iure maxime?</p>
                            <button type="submit">Comprar</button>
                        </div>
                    </div>
                </div>

                <!-- Segundo Card mais vendidos -->
                <section class="produtos02">
                    <span class="title-secundary">Mais Vendidos</span>
                    <hr>
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card">
                                <img src="./IMG/vitrine01.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <!-- <h5 class="card-title">Camiseta Esportiva</h5>
                                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae ea sed nesciunt officiis, ut similique natus pariatur dolore iste id harum voluptas doloribus. Totam inventore, aut modi reiciendis doloribus sequi.</p>
                                    <button type="submit">Comprar</button> -->
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="./IMG/vitrine02.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <!-- <h5 class="card-title">Bicicleta Vermelha</h5>
                                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo inventore quibusdam enim ex quisquam, deleniti alias nihil harum. Asperiores harum modi cumque vel corporis vero quidem nihil laudantium fugiat soluta.</p>
                                    <button type="submit">Comprar</button> -->
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="./IMG/vitrine03.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <!-- <h5 class="card-title">Bermuda Tactel</h5>
                                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate alias ab voluptatem et distinctio soluta voluptatum animi, sunt laborum iusto repellat veniam accusamus dignissimos sed! Eveniet repellendus vitae sequi molestiae?</p>
                                    <button type="submit">Comprar</button> -->
                                </div>
                             </div>
                            </div>
                        </div>
                        </section>
                     </section>

                     <!-- Terceiro Card -->
                    
                     <section class="produtos">
                        <span class="title-secundary">Outros Produtos</span>
                        <hr>
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                                <div class="card">
                                    <img src="./IMG/produto01.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Camiseta Esportiva</h5>
                                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae ea sed nesciunt officiis, ut similique natus pariatur dolore iste id harum voluptas doloribus. Totam inventore, aut modi reiciendis</p>
                                        <button type="submit" id="botaocard">Comprar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="./IMG/produto04.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Bicicleta Vermelha</h5>
                                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo inventore quibusdam enim ex quisquam, deleniti alias nihil harum. Asperiores harum modi cumque vel corporis vero quidem nihil laudantium fugiat soluta.</p>
                                        <button type="submit" id="botaoxp">Comprar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="./IMG/produto03.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Bermuda Tactel</h5>
                                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate alias ab voluptatem et distinctio soluta voluptatum animi, sunt laborum iusto repellat veniam accusamus dignissimos sed! Eveniet repellendus vitae sequi molestiae?</p>
                                        <button type="submit">Comprar</button>
                                    </div>
                                </div>
                            </div>
                            </div>
                            </section>
              <!--Floater-->
              <div id="floater">
                <h2>Charlie</h2>
                <input type="text" placeholder="seu nome">
                <input type="email" placeholder="seu email">
                <button id="email">Enviar</button>
                <br><br>

                <h2>Contato</h2>
                <ul>
                  <li>soprogresso2409@gmail.com</li>                  
                </ul>

                <img  src="./LOGO/imagedelta.png" width="10%">
              </div>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>