<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cadastro.css">
    <title>Tela de login</title>
</head>
<body>

    <div class="login">
        <h1>Login</h1>
        <input class="inputLogin" type="text" placeholder="Nome" name="name">
        <br><br>
        <input class="inputLogin" type="password" placeholder="Senha" name="password">
        <br><br>
        <button class="buttonLogin">Enviar</button>
    </div>

</body>
</html>